@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

/* handle \n character everywhere */
* {
  white-space: pre-line;  
  vertical-align: bottom;
}

.navbar-brand {
  padding:0px;
}

.section-title {
  margin:15px 0px;
}


.intro {
  background: url(./assets/img/books.jpg) center center no-repeat;
  background-size: cover;
  filter:blur(3px) brightness(.5);
  
}

.overlay {
  
  filter:blur(0px) brightness(1);
}

#about h2::after {
  left:50%;
}

.conversation-items:nth-child(odd) {
  margin:20px auto;
  background:linear-gradient(to left, #83d2dd 0%, #a7cef9 100%);
  color:black;
  padding:20px;
}