@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }

  #about,
  #schedule,
  #testimonials,
  #conversations,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

.modal-dialog {
  margin:150px auto;
  opacity:1;
}

.intro h1 {
  font-family:'PT Serif', serif;
  font-style:italic;
  font-weight:100;
  text-transform:none;
}

/* handle \n character everywhere */
* {
  white-space: pre-line;  
  vertical-align: bottom;
}

.navbar-brand {
  padding:0px;
}

.section-title {
  margin:15px 0px;
}


.intro {
  background: url(./assets/img/books.png) center center no-repeat;
  background-size: cover;  
}

.filter {
  filter:blur(3px) brightness(.5);
}

.filter::after {
  background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#about h2::after {
  left:50%;
}

.conversation-items:nth-child(odd) {
  margin:20px auto;
  background:linear-gradient(to left, #83d2dd 0%, #a7cef9 100%);
  color:black;
  padding:20px;
}
